<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.govchecker"
      android:versionCode="1"
      android:versionName="1.0">
       <uses-sdk android:minSdkVersion="14"
           android:targetSdkVersion="21"
           android:maxSdkVersion="21"/>
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@android:style/Theme.Holo">
        <activity android:name="com.govchecker.OpenAusSearchDroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.govchecker.SearchRepsActivity"></activity>
        <activity android:name="com.govchecker.SearchSenate"></activity>
        <activity android:name="com.govchecker.SearchHansardActivity"></activity>
        <activity android:name="com.govchecker.Rep_Display"></activity>
        <activity android:name="com.govchecker.HansardSearchDisplay"></activity>
        <activity android:name="com.govchecker.OAWebView"></activity>
        <activity android:name="com.govchecker.RepActivityDisplay"></activity>
    </application>
   


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 